


<nav class="navbar navbar-inverse">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <%= image_tag "logo.png", :alt => "Logo", :title => "Logo", :width => "280px", :height => "60px" %>

    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Nombre Empresa <b class="caret"></b></a>
        <ul class="dropdown-menu">

          <li class="divider"></li>
          <li>
            <a href="login.html"><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</a>
          </li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
-->



<!-- Image and text
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>
-->